RPC_URL=
DEPLOYER_PRIVATE_KEY=
AI_RESOLVER_PRIVATE_KEY=
AI_RESOLVER_ADDRESS=
FREEMODEL_API_KEY=
NEXT_PUBLIC_CIRCLE_KIT_KEY=
CIRCLE_KIT_KEY=
CIRCLE_API_KEY=
ANTHROPIC_API_KEY=
NEXT_PUBLIC_PREDICTION_MARKET_ADDRESS=
